<h1>在庫移動履歴一覧</h1>
<table class="books-table">
  <thead>
    <tr>
      <th>本のタイトル</th>
      <th>移動元</th>
      <th>移動先</th>
      <th>移動した数</th>
    </tr>
  </thead>
  <tbody>
    <% @stock_moves.each do |move| %>
      <tr>
        <td><%= move.book.title %></td>
        <td><%= move.from_location.name %></td>
        <td><%= move.to_location.name %></td>
        <td><%= move.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
