<div class="top-container" style="background-image: url('<%= asset_path("top_book.jpeg") %>')">
  <h1>TOP</h1>
  <%= image_tag 'introduction1.jpeg', class: "top-image-a" %>
  <p>在庫管理をわかりやすく</p>
  <p>並び替えや検索で探しやすく</p>
  <p>在庫の数を色分けで表現</p>
  <%= image_tag 'introduction2.jpeg', class: "top-image-b" %>
  <p>取り寄せによって色を分ける</p>
  <p>場所ごとに在庫の数を移動、把握</p>
</div>
