/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
header {
  background-color: #404849;
  text-align: center;
  color: #fff;
}

.nav {
  font-style: italic;
  margin-bottom: 20px;
}

.link-list a {
  color: white;
  text-decoration: none;
}

.link-list {
  gap: 60px;
  list-style: none;
  display: flex;
  margin-left: 25%;
}

/*stocks/index.html.erb*/
.text-red {
  color: red;
  font-weight: bold;
}

.text-green {
  color: green;
  font-weight: bold;
}
