.stocks-container {
  text-align: center;
}

.stocks-search {
  background-color: #007bff;
  padding: 15px;
  margin-bottom: 20px;
}

.stock-search-field input {
  width: 50%;
  height: 26px;
}

.stock-search-button {
  background: #16a34a;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-top: 14px;
}

.quantity-color-empty {
  color: #FF0033;
  font-weight: bold;
}

.quantity-color-full {
  color: #00CC00;
  font-weight: bold;
}
