.top-container {
  background-image: image-url("top_book.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  text-align: center;
}

.top-image-a {
  width: 50%;
}

.top-image-b {
  width: 50%;
}
